<p style="color: green"><%= notice %></p>

<%= form_with(url: articles_path, method: :get, id: "search-container", data: {controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
  <%= form.text_field :query, id: "search-bar", placeholder: "Search by article name", data: {action: "input->search-form#search"} %>
  <%= form.button image_tag('search.png'), id: "search-button" %>
<% end %>

<%= paginate @articles %>

<%= render "articles", articles: @articles %>

<%= paginate @articles %>
