<p style="color: green"><%= notice %></p>

<%= form_with(url: articles_path, method: :get, data: {controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
  <%= form.text_field :query, id: "search-bar", placeholder: "Search by article name", data: {action: "input->search-form#search"} %>
  <%= form.submit "Search" %>
<% end %>

<%= render "articles", articles: @articles %>

<%= link_to "New article", new_article_path, id: "new-article" %>
