<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="sign-in-container">
    <h2>Welcome Back!</h2>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-inputs" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-inputs" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "form-button" %>
    </div>

    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  </div>
<% end %>
